@font-face {
    font-family: 'Corbel';
    src: url('corbel.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Corbel';
    src: url('corbel-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}