@font-face {
    font-family: 'Vollkorn-SBI';
    src: url('Vollkorn-SemiBoldItalic.woff2') format('woff2'),
    url('Vollkorn-SemiBoldItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}